.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}


.dialogsItems {
    padding: 10px;
}

.dialogsItems a {

    text-decoration: none;
}

/*.dialogsItems .a .active {
    color: black;

}*/
.linka {
    color: white;
}

.active {
    color: black;
}

.messages {
    padding: 10px;
    color: white;

}


